.title {
    font-size: 39px;
    font-weight: 500;
    margin: 20px 0;
}

.feedback {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 100px;
}